nav{
	background: #f3f3f3;
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.50);		
}

.profile{
	margin-top: 15px;
	padding-top: 10px;
	font-family: "calibri";
	box-shadow: 4px 4px 3px 2px rgba(0,0,0,0.75);
	background: #f3f3f3;
}

.textHolder {
	text-align: center;
	font-size: 18px;
	padding-bottom: 10px;
}

.circle{
	border-radius: 50%;
}

.photoHolder {
 	display: block;
 	margin:auto;
 }


.bold {
	font-weight: bolder;
}

.outer {
	padding: 10px;
	padding-right:25px;
}

.content {
	padding:10px;
	margin-left: 35px;
	margin-right: 35px;
}

.repeat {
	padding: 10px;
	margin: 7px;
	font-family: openSans;
	box-shadow: 4px 4px 3px 2px rgba(0,0,0,0.75);
	background: #f3f3f3;
}

.repeat .row {
	padding-bottom: 10px;
}

.heading{
	margin-left: 5px;
	font-size: 18px;
}

.postHead {
	font-weight: bolder;
}

.trending {
	padding:5px;
	margin:5px;
}


.timeDisplay {
	font-size: 12px;
	color:grey;
}

nav a {
	cursor: pointer;
}

nav .active {
	background: #f0f0f0;
}

@font-face {
	font-family: openSans;
	src:url(../fonts/OpenSans-Regular.ttf);
}

.upper {
	margin-left:15px;
	margin-right:15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.upper button a {
	color:red;
}

.upper a {
	text-decoration: none;
}

hr {
	margin-top: 0px;
}